@page "/endpoints"
@rendermode InteractiveServer


<div class="container mt-4">
    <h2 class="mb-4">Webhook Endpoints</h2>

    <div class="mb-4">
        <div class="card-header">
            <h5 class="mb-0">Add new endpoint</h5>
        </div>

        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="name" class="form-label">Name</label>  
                    <input @bind="newEndpoint.Name" placeholder="Name" class="form-control mb-2" />
                </div>
                <div class="col-md-4">
                    <label for="name" class="form-label">Url</label> 
                    <input @bind="newEndpoint.Url" placeholder="URL" class="form-control mb-2" />
                </div>
                <div class="col-md-4">
                    <label for="name" class="form-label">Secret</label> 
                    <input @bind="newEndpoint.Secret" placeholder="Secret" class="form-control mb-2" />
                </div>
            </div> 
            <button @onclick="AddEndpoint" class="btn btn-primary">Add Endpoint</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Registered Endpoints</h5> 
        </div> 

        <div class="card-body p-0">

        <!-- List existing endpoints -->
                <table class="table table-hover mb-0">
                 <thead class="table-light">
                  <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Status</th>
                <th>Events</th>
                <th>Created</th>
                <th>Actions</th>

             </tr>
            </thead>
                 <tbody>
                    @foreach (var ep in endpoints)
                    {
                            <tr>
                                <td>@ep.Id</td>
                                <td>@ep.Name</td>
                                <td><code>@ep.Url</code></td>
                                <td>
                                    @if (ep.IsActive)
                                    {
                                        <span class="badge bg-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Inactive</span>
                                    }
                                </td>
                                <td>
                                   <button class="btn btn-link" @onclick="(() =>Navigate(ep.Id))">View Events</button>
                                </td>
                                <td>@ep.CreatedAt.ToString("MMM dd, yyyy")</td>
                                <td>
                                    <button @onclick="() => DeleteEndpoint(ep.Id)" class="btn btn-outline-danger btn-sm">Delete</button>
                                    <button @onclick="()=> ToggleEndpoints(ep.Id)" class="btn-outline-warning btn-sm">@(ep.IsActive? "Disable": "Enable")</button>
                                </td>

                            </tr>
                    }
                </tbody>
            </table>
            @if(!endpoints.Any())
            {
                <div class="p-3 text-center text-muted">
                    No endpoints registered.
                </div>
            }
    
    
       </div>
     
    </div>
</div>
@code {

}
